.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json

"scripts": {
  "start": "webpack serve --mode development",
  "build": "webpack --mode production"
}
